* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #212;
  padding: 36px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: #dededf;
  padding: 24px;
  min-height: 70vh;
}

.cards {
  margin-top: 36px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  box-shadow: 3px 3px 12px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 240px;
  padding: 6px;
  margin: 12px;
  background-color: #ffffff;
}

.image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-extra {
  width: 100%;
  height: 200px;
}
.image-extra img {
  width: 150%;
  overflow: hidden;
}

.description {
  text-align: center;
  margin: 6px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.likes i:hover {
  cursor: pointer;
}

.likes .no_of_likes {
  position: relative;
  top: 1px;
  font-size: 14px;
}
